<style>
	* {
		margin: 0;
		padding: 0;
	}
	body {
		background: url(../img/404.jpg) no-repeat;
		background-size: 100% 100%;
	}
	div {
		margin: auto;
		width: 50%;
	}
	h1 {
		font-size: 4em;
		text-align: center;
		color: #3a223c;
	}
	h2 {
		font-size: 6em;
		color: red;
		text-align: center;
	}
	b {
		color: darkred;
	}
</style>
<div>
	<h2>404</h2>
	<h1>
		Not Found
		<b>
			<a href="index"> Go home </a>
		</b>
	</h1>
</div>
